@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
    color: #14447c;
}

.social:hover path {
    fill: #14447c;
}

.halo:hover {
    box-shadow: 2px 2px 18px #14447c;
}

strong, b {
    font-weight: 600;
}

.right {
    margin-top: 0.4em;
    margin-left: 1em;
    float: right;
}

.text-2xs {
    font-size: 0.65rem;
}

.tracking-extra {
    letter-spacing: 0.15em;
}

.text-brandeis {
    color: #193574;
}

p {
    margin-bottom: 0.5em;
}

.quote {
    padding-right: 5px;
    margin-bottom: 1em;
    font-style: italic;
}

.heading {
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.lead {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

div.lead {
    margin-bottom: 0.5em;
}

.update a {
	font-weight: 500;
}

.markdown h2 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.custom-image-size{
    height: 180px;
    width: 120px;
}

